.center {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .first-line {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .first-line svg {
    margin-right: 1vmin;
  }
  
  .first-line h2 {
    margin-right: 9vmin;
  }
  
  .first-line h3 {
    margin-left: 10vmin;
    font-size: calc(13px + 2vmin);
  }
  
  .second-line {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .second-line svg {
    margin-right: 1vmin;
  }
  
  .second-line h2 {
    margin-right: 9vmin;
  }
  
  .second-line h3 {
    margin-left: 9.1vmin;
    font-size: calc(13px + 2vmin);
  }
  
  .third-line {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .third-line svg {
    margin-right: 1vmin;
  }
  
  .third-line h2 {
    margin-right: 21vmin;
  }
  
  .third-line h3 {
    margin-left: 10vmin;
    font-size: calc(13px + 2vmin);
  }
  
  .center-left {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .center-left-right {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .center-left-right h3 {
    font-size: calc(7px + 2vmin);
  }
  
  .center-left-right h4:first-child {
    margin-left: 3vmin;
    margin-right: 8vmin;
  }
  
  h4{
    font-size: calc(3px + 2vmin);
  }
  
  .center-left-right button:last-child{
    margin-left: 20vmin;
  }
  
  .center-left h2{
    margin-left: 1vmin;
    margin-right: 24vmin;
  }
  
  .App-logo {
    height: 5vmin;
    pointer-events: none;
  }
  
  .Star {
    height: 5vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #14152C;
    min-height: 100vh;
    font-size: calc(4px + 2vmin);
    color: white;
  }
  
  .button2 {
    height: 4vmin;
    width: 10vmin;
    background-color: #656565;
    border: 0px;
    border-radius: 0.5vmin;
    color: white;
    font-weight: 900;
    font-size: calc(4.5px + 1vmin);
  }

  .button3 {
    height: 4vmin;
    width: 9vmin;
    background-color: #AA33B5;
    border: 0px;
    border-radius: 0.5vmin;
    color: white;
    font-weight: 900;
    font-size: calc(4.5px + 1vmin);
  }

  .button4 {
    height: 4vmin;
    width: 9vmin;
    background-color: #930000;
    border: 0px;
    border-radius: 0.5vmin;
    color: white;
    font-weight: 900;
    font-size: calc(4.5px + 1vmin);
  }

  .button4:hover{
    color: black;
  }

  .button3:hover{
    color: black;
  }

  .nav-link {
    color: white;
  }

  .button2 .nav-link:hover{
    color: black;
  }

  .form1 {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .form1 h4 {
    margin-right: 37vmin;
  }

  .form {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .form h4 {
    margin-right: 35vmin;
  }

  input {
    width: 43vmin;
    border-radius: 0.5vmin;
    border: 0px;
  }

  .form3 {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .form3 button {
    margin-left: 34vmin;
  }

  .form input {
    font-weight: 600;
    color: black;
  }

  .form5 {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .form5 button:last-child {
    margin-left: 25vmin;
  }